<div style="padding-left: 15px; padding-right: 15px;">

    <div class="buttonDiv">
      <button class="inline">USD</button>
      <button class="inline">EUR</button>
      <button class="inline">RUB</button>
    </div>

  <p *ngIf="!exchangers" style="min-height: 20px; text-align:center; color:#b0bbcb;">
    <br />
    <em>Секунду...</em>
  </p>

  <table class='table mainTable' *ngIf="exchangers">   
    <thead>
      <tr>
        <th class="exchangerHead">Обменка</th>
        <th class="buyHead">Покупка</th>
        <th class="sellHead">Продажа</th>
        <th class="buyHead">Покупка</th>
        <th class="sellHead">Продажа</th>
        <th class="buyHead">Покупка</th>
        <th class="sellHead">Продажа</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exchanger of exchangers" style="border-top: #E0E6ED solid 1px;">
        <td style="vertical-align: middle; padding-left: 12px !important;">
          <a class="exchangerName" href="{{ exchanger.url }}">{{ exchanger.name }}</a>
          <br />
          <span class="exchangerUrl">{{ exchanger.address }}</span>
        </td>  
        <td class="rateCell">
          {{ exchanger.usd.buyRate }}
        </td>
        <td class="rateCell">
          {{ exchanger.usd.sellRate }}
        </td>
        <td class="rateCell">
          {{ exchanger.eur.buyRate }}  
        </td>
        <td class="rateCell">      
          {{ exchanger.eur.sellRate }}     
        </td>
        <td class="rateCell"> 
          {{ exchanger.rub.buyRate }}
        </td>
        <td class="rateCell">     
          {{ exchanger.rub.sellRate }}
        </td>
      </tr>
    </tbody>
  </table>
</div>